body{
    background-color: ;
}
 


.displayinfo{
    display:flex;
    flex-direction: row;
}

.displayinfo span{
    padding: 24px;
    font-size: large;
}
.displayinfo .imguser {

    width: 55px;
    height: 55px;
    position: absolute;

}