*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-group{ 
    margin: 20px 0; 
    align-items: center;
    right: -5rem;
             
}
input{ height: 30px; width: 50%; padding: 5px; }
button{ 
    background: dodgerblue; 
    color: #fff; 
    padding: 10px; 
    border: solid 1px dodgerblue;
    cursor: pointer;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background:  rgb(98, 99, 134);
    display: flex;
    flex-flow: column;
    height: 100vh;
}